*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.header{
    margin-top: 20px;
   color: blanchedalmond;
   font-size: 22px;
   margin-left: 40px;
}
.hr{
    height: 1px;
    width: 70px;
    background-color: yellow;
    margin-top: 7px;
}
.hr1{
    height: 1px;
    width: 50px;
    background-color: yellow;
    margin-top: 5px;
}
.section{
    margin-top: 50px;
    margin-left: 170px;
}
.a1{
    margin-top: 10px;
    height: 60px;
    width: 930px;
    background-color:rgba(160, 108, 29, 0.993);
    color: solid black;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    word-spacing: 1px;
   cursor: pointer;
   border-color: rgb(100, 79, 65);
   border-style: solid;
   text-decoration: none;
}
.a1:hover{
    transform: rotateY(360deg);
    transition-delay: 1s;
    cursor: pointer;
}
.a2{
    margin-top: 35px;
    height: 60px;
    width: 930px;
    background-color:rgba(160, 108, 29, 0.993);
    color: black;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-color: rgb(100, 79, 65);
    border-style: solid;
}
.a3{
    margin-top: 35px;
    height: 60px;
    width: 930px;
    background-color:rgba(160, 108, 29, 0.993);
    color: black;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-color: rgb(100, 79, 65);
    border-style: solid;
}
.a4{
    margin-top: 35px;
    height: 60px;
    width: 930px;
    background-color:rgba(160, 108, 29, 0.993);
    color: black;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-color: rgb(100, 79, 65);
    border-style: solid;
}
.a5{
    margin-top: 35px;
    height: 60px;
    width: 930px;
    background-color:rgba(160, 108, 29, 0.993);
    color: black;
    border-radius: 10px;
    font-size: 25px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-color: rgb(100, 79, 65);
    border-style: solid;
}